{% extends "base.html" %} {% block bodyclass %}mybodyclass{% endblock %} {% block content %}
<div class="container">
    <h1>{{ user }}'s shared lists</h1>
    <h2>Favorites</h2>
    <div class="favorites">
        {% for favorite in shareable_favorites %} {% for tv_photo in favorite.tvshow_photos%}
        <a href="/tvshows/{{favorite.id}}"><img src="{{tv_photo.medium_url}}">{{favorite.tvshow}}</a>
        {% endfor %} {% endfor %}
    </div>
    <h2>Watch List</h2>
    <div class="watchlist">
        {% for tvshow in shareable_watchlist %} {% for tv_photo in tvshow.tvshow_photos%}
        <a href="/tvshows/{{tvshow.id}}"><img src="{{tv_photo.medium_url}}">{{tvshow.tvshow}}</a>
        {% endfor %} {% endfor %}
    </div>
</div>
{% endblock %} {% block scriptinclude %}
<script>
$('.favorites').slick({
    infinite: true,
    slidesToShow: 4,
    slidesToScroll: 1
});
$('.watchlist').slick({
    infinite: true,
    slidesToShow: 4,
    slidesToScroll: 1
});
</script>
{% endblock %}
