{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1>{{ tvshow_details.tvshow }}</h1>
  
  
  <img src="{{ tvshow_photo.medium_url }}">
  
  <ul>
    
    <li>Type: {{ tvshow_details.type_ }}</li>
    <li>Language: {{ tvshow_details.language }}</li>
    <li>Genres:
      {% for genre in tvshow_details.genres %}
        {{ genre.name }}
      {% endfor %}
    </li>
    <li>Status: {{ tvshow_details.status }}</li>
    <li>Original Premiere Date: {{ tvshow_details.premiered }}</li>
    <li>Scheduled: {{ tvshow_details.schedule_day }} at {{ tvshow_details.schedule_time }}</li>
    <li>Twitter Handle: {{ tvshow_details.twitter_handle }}</li>
    <li>Network Information: {{ network }}</li>
    <li>Summary: {{ tvshow_details.summary|safe }}</li>

  </ul>

  <h1>Seasons</h1>
   <ul>{% for season in seasons %}
        <li><a href="/tvshows/{{season.tvshow_id}}/seasons">{{ season.season_number }}</a></li>
      {% endfor %}
  </ul>

  <h1>Episodes</h1>
  <ul>{% for episode in episodes %}
        <li><a href="/tvshows/{{episode.tvshow_id}}/{{episode.season_number}}/{{episode.episode_number}}">{{ episode.episode_name }}</a></li>
      {% endfor %}
  </ul>
  
  <!-- scrollable photos of tvshows -->
  <!-- actors -->

  {% if hide==True %}
  
  <a class="twitter-timeline" data-width="400" data-height="500" data-link-color="#2B7BB9" href="https://twitter.com/{{ tvshow_details.twitter_handle }}">Tweets by {{ tvshow_details.tvshow }}</a>

  <a href="https://twitter.com/intent/tweet?screen_name={{ tvshow_details.twitter_handle }}" class="twitter-mention-button" data-show-count="false">Tweet to @{{ tvshow_details.twitter_handle }}</a>

  <a href="https://twitter.com/{{ tvshow_details.twitter_handle }}" class="twitter-follow-button" data-show-count="false">Follow @{{ tvshow_details.twitter_handle }}</a>

  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  {% endif %}
  
  {% for external in tvshow_details.externals%}
  <a href="http://www.imdb.com/title/{{external.imdb}}/">IMDB</a>
  <a href="http://thetvdb.com/?tab=series&id={{external.thetvdb}}">theTVDB</a>
  {% endfor %}
</div>

{% endblock %}
