{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1>{{ tvshow_details.tvshow }}</h1>
  <ul>
    
    
    <li>TVShow: {{ tvshow_details.tvshow }}</li>
    <li>Type: {{ tvshow_details.type_ }}</li>
    <li>Language: {{ tvshow_details.language }}</li>
    <li>Genres: {{ tvshow_details.genres }}</li>
    <li>Status: {{ tvshow_details.status }}</li>
    <li>Original Premiere Date: {{ tvshow_details.premiered }}</li>
    <li>Scheduled: {{ tvshow_details.day }} {{ tvshow_details.time }}</li>
    <li>Twitter Handle: {{ tvshow_details.twitter_handle }}</li>
    <li>Network Information: {{ tvshow_details.network_id }}</li>
    <li>Summary: {{ tvshow_details.summary|safe }}</li>

  </ul>
</div>

{% endblock %}
