@import "../vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../vendor/toastr/toastr.scss";
@import "../vendor/slick-carousel/slick/slick.scss";
@import "../vendor/slick-carousel/slick/slick-theme.scss";
@import 'fonts';

h1 {
  color: blue;
}

p{
  color: pink;
}

body{
  font-family: 'Roboto', sans-serif;
}

// Change the color of slick arrows
.slick-prev:before, .slick-next:before{
    color: #000;
}

.show-details {
  padding-bottom: 50px;
}

.main-info {
    margin: 0 auto;
}

.key-title {
    font-size: 18px;
    font-weight: bold;
    padding: 3px 0;
}

.title-bar {
  width: 100%;
  display: inline-block;
  h1 {
    float: left;
  }
}

.key-info {
  text-align: left;
}

.tvshow-image {
  img {
    max-width: 100%;
  }
}

.button-pad {
  margin-top: 20px;
  margin-left: 10px;
}

/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 20%; }
/* 2 columns */
.grid-item--width2 { width: 40%; }

.tvshow {
  padding-top: 10px;
  padding-bottom: 10px;
}

.genre-pad {
  margin-bottom: 3px;
}


#season-details {
  padding: 10px;
  width: 50%;
  }

#episode-summary {
  text-align: justify;
  padding: 10px;
}
