{% extends "base.html" %} {% block bodyclass %}mybodyclass{% endblock %} {% block content %}
<div class="container">
    <h1>About LetsWatchTV</h1>
    <h3>API's Used:</h3>
    <ul>
        <li><a href="http://www.tvmaze.com/api">TVmaze - TVShow information</a></li>
        <li><a href="https://api.guidebox.com/">guidebox - twitter handles</a></li>
        <li><a href="https://dev.twitter.com/">Twitter - Fetching various pieces of information from Twitter via their API</a></li>
    </ul>
    <h3>Libraries Users:</h3>
    <ul>
        <li><a href="http://getbootstrap.com/">Bootstrap - Frontend framework</a></li>
        <li><a href="http://www.appelsiini.net/projects/lazyload">lazyload.js - Lazyloading images</a></li>
        <li>SASS - Precompiled CSS library with more power & flexibility</li>
        <li><a href="https://codeseven.github.io/toastr/">
        Toastr - toast notification library</a></li>
        <li><a href="http://kenwheeler.github.io/slick/"> Slick carousel - Image carousels</a></li>
        <li><a href="http://isotope.metafizzy.co/">Isotope / masonry - sorting & filtering</a></li>
    </ul>
    <h3>Python</h3>
    <ul>
        <li><a href="https://github.com/pallets/flask">Flask</a></li>
        <li><a href="https://github.com/miguelgrinberg/Flask-Migrate">Flask Migrate</a></li>
        <li><a href="http://alembic.zzzcomputing.com/en/latest/">Alembic</a></li>
        <li><a href="https://github.com/maxcountryman/flask-login">Flask Login</a></li>
        <li><a href="https://github.com/lepture/flask-wtf">Flask WTF (What The Form)</a></li>
        <li><a href="https://github.com/mitsuhiko/flask-sqlalchemy">Flask SQLAlchemy</a></li>
        <li><a href="https://github.com/kennethreitz/requests">Requests</a></li>
        <li><a href="https://publish.twitter.com/#">Twitter Publish</a></li>
        <li><a href="https://github.com/pallets/werkzeug">Werkzeug</a></li>
    </ul>
    <h3>Server Side JS</h3>
    <ul>
        <li><a href="https://www.npmjs.com/">
        npm - Node's package manager for managing js dependencies</a></li>
        <li><a href="http://gulpjs.com/">
        gulp.js - Task automator, used for SASS, JS, and livereload</a></li>
        <li><a href="https://bower.io/">
        bower - Package manager for frontend libraries</a></li>
    </ul>
    <h1>About Frances</h1>
    <h3>Bio</h3>
    <p>Frances created LetsWatchTV for Hackbright Academy's individual capstone project. She is an aspiring full stack developer and will be utilizing this project to test out different front end and back end libraries as well as development/deployment tools in order to strengthen her knowledge. She is currently seeking front end/back end/full stack employment opportunties all around the San Francisco Bay Area as well as Boston, MA, and NYC, NY.</p>
    <h3>Contact</h3>
    <p>To contact Frances about employment opportunities as well as feedback/recommendations for her project:</p>
    Email: <a href="mailto:frances.liu168@gmail.com">frances.liu168@gmail.com</a>
    <br> LinkedIn: <a href="https://www.linkedin.com/in/frances-liu">frances-liu</a>
    <br> GitHub: <a href="https://github.com/thepomeranian">thepomeranian</a>
    <br>LetsWatchTV GitHub: <a href="https://github.com/thepomeranian/letswatchtv">LetsWatchTV</a>
    <br> Twitter: <a href="https://twitter.com/frances_liu168">frances_liu168</a>
    <figure>
        <embed src="https://wakatime.com/share/@7f49afd6-98fc-4bab-a4ff-1067c809f0aa/3132b423-8683-4a51-a22c-e8dceaf1ed52.svg"></embed>
    </figure>
    <figure>
        <embed src="https://wakatime.com/share/@7f49afd6-98fc-4bab-a4ff-1067c809f0aa/9831f015-d17a-490c-ba88-d446f4cd0636.svg"></embed>
    </figure>
</div>
{% endblock %}
