<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      {% if title %}
        <title>{{ title }} | Let's Watch TV</title>
      {% else %}
        <title>Let's Watch TV</title>
      {% endif %}
    <meta name="description" content="Show a TV show's popularity based on tweets on a time series chart.">
    <meta name="viewport" content="width=device-width">

    {# Bootstrap css and js #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap.min.js') }}">

    {# Self-made css and js files #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/main.css') }}">

  </head>
  
  <body class="{% block bodyclass %}{% endblock %}">

    {% block content %}{% endblock %}

  </body>

  {% block scriptinclude %}{% endblock %}
  
</html>